 *{
 	margin: 0;
 	padding: 0;
 }
 .container {
	text-align: center;
}
.menu{
  margin-top: 50px;	
}
.menu div {
	display: inline-block;
	margin-right: 50px;
	padding: 10px 20px;

}
.menu a {
	margin: 10px 50px 10px 50px;
}
.text{
	max-width: 500px;
	margin: 0 auto;
}
.text h1 {
	margin-top: 50px;
}
.text p {
	margin-top: 30px;
}
.content{
	text-align: center;
}
.content h1 {
	margin-top: 30px;
}
table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
}
th, td {
	padding: 5px;
}
img {
	width: 200px;
	height: 200px;
}
p {
	position: -webkit-sticky;
  	position: sticky;
}
a {
	color: white;
	background-color: orange;
	padding: 20px;
	text-decoration: none;
}
a:hover{
 background-color: red;
 }
a:link{
  color: purple;
}
a:visited{
 color:#dcf442;
}
a:active{
 color: #f44141;

}
p::first-line { 
  background-color: yellow;
}
h1::first-letter{
  color: #00aeff;
}
h1::selection{
	background-color: #000;
}